* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

$blue: #2e84f6;
$text: #333335;
$art: #5d69ff;

main {
	width: 375px;
	padding: 0 30px;
}

.section-header {
	display: flex;
	align-items: center;
}

.section-header__anchor {
	margin-left: auto;
	color: $blue;
	font-weight: 700;
	text-transform: uppercase;
}

ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	width: 200px;
	height: 140px;
	border-radius: 10px;
	margin-right: 10px;
}

.header {
	padding: 1rem;
	background: #1880C0 url('images/greece.jpeg');
	border-bottom-right-radius: 3rem;
}

.header__top {
	display: flex;
}

.header__title {
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 1rem;
}

.header__search {
	font-size: 16px;
	padding: .5rem;
	border-radius: 10px;
	border: 0;
	background: rgba(255,255,255,.4);
}

.location-details {
	background: rgba(255,255,255,.4);
	display: flex;
}
